<template>
  <div class="constraint" :style="{transform: getDegree()}" :class="{done: done}" @click="toggleDone()">
    <div class="title">{{data.title}}</div>
    <div class="value" :style="{ 'background-color': data.color, transform: getDegree()}">{{data.value}}</div>
  </div>
</template>

<script>
export default {
  name: 'Constraint',
  props: ['data'],
  data() {
    return { done: false };
  },
  computed: {},
  methods: {
    getDegree: function() {
      return 'translate3d(0, 0, 0) rotate(' + (Math.random() * 4 - 2) + 'deg)';
    },

    toggleDone: function() {
      this.done = !this.done;
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
.constraint {
  $margin: 10px;
  border: 5px black solid;
  margin: $margin;
  font-family: 'Permanent Marker', cursive;
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 640px) {
    flex: 0 0 calc(100% / 2 - 2 * #{$margin});
  }
  @media screen and (min-width: 1200px) {
    flex: 0 0 calc(100% / 3 - 2 * #{$margin});
  }
  @media screen and (min-width: 1800px) {
    flex: 0 0 calc(100% / 4 - 2 * #{$margin});
  }
  flex: 0 0 calc(100% - 2 * #{$margin});

  &:hover .value {
    transform: rotate(0) !important;
  }

  &.done {
    border-color: rgb(53, 56, 59);
    transform: rotate(0) !important;

    .title {
      background-color: rgb(53, 56, 59);
    }

    .value {
      transform: rotate(0) !important;
      filter: contrast(60%);
      opacity: 0.8;
    }
  }
}

.title {
  text-align: center;
  color: white;
  text-transform: uppercase;
  background-color: black;
  padding: 0.5em;
  margin: -1px;
  flex: 0 0 auto;
}

.value {
  position: relative;
  flex: 1 1 auto;
  padding: 1em;
  box-shadow: 5px 10px 3px 3px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: 50% 5px;

  transition: transform 250ms ease-in-out;

  &:before {
    position: absolute;
    top: 5px;
    left: 50%;

    content: '';
    width: 15px;
    height: 15px;
    background-color: firebrick;
    border-radius: 50%;
    transform: translateX(-50%);
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
  }

  &:after {
    position: absolute;
    top: 5px;
    left: 50%;

    content: '';
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    transform: translateX(-20%);
    box-shadow: -2px 3px 7px 1px rgba(0, 0, 0, 0.2);
  }
}
</style>
