$base-font-size: 24px;

$color-black: #0d0d0f;
$color-accent: #5efea8;

@keyframes neon-flickering {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 12px #fff,
      0 0 40px $color-accent, 0 0 80px $color-accent, 0 0 90px $color-accent,
      0 0 80px $color-accent, 0 0 120px $color-accent;
  }
  25% {
    text-shadow: 0 0 5px darken(white, 10%), 0 0 10px darken(white, 10%),
      0 0 12px darken(white, 10%), 0 0 40px darken($color-accent, 10%),
      0 0 80px darken($color-accent, 10%), 0 0 90px darken($color-accent, 10%),
      0 0 80px darken($color-accent, 10%), 0 0 120px darken($color-accent, 10%);
  }
  50% {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 120px $color-accent;
  }
  52% {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 12px #fff,
      0 0 40px $color-accent, 0 0 80px $color-accent, 0 0 90px $color-accent,
      0 0 80px $color-accent, 0 0 120px $color-accent;
  }
  54% {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 120px $color-accent;
  }
  56% {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 12px #fff,
      0 0 40px $color-accent, 0 0 80px $color-accent, 0 0 90px $color-accent,
      0 0 80px $color-accent, 0 0 120px $color-accent;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 12px #fff,
      0 0 40px $color-accent, 0 0 80px $color-accent, 0 0 90px $color-accent,
      0 0 80px $color-accent, 0 0 120px $color-accent;
  }
}
