@import '~sanitize.css';
@import '~animate.css';
@import 'variables.scss';

@import url('https://fonts.googleapis.com/css?family=Monoton');
// font-family: 'Monoton', cursive;
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
// font-family: 'Permanent Marker', cursive;

html,
body {
  font-size: $base-font-size;
}

.color-accent {
  color: $color-accent;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $color-black;
}

.neon {
  color: #fff;
  animation-name: neon-flickering;
  animation-duration: 5s;
  animation-iteration-count: 2;
  animation-timing-function: step-end;
  animation-fill-mode: forwards;
}

.header {
  flex: 0 0 auto;
  color: white;

  .event-title {
    word-spacing: 0.5em;
  }

  &__title {
    font-family: 'Monoton', cursive;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    font-size: 2rem;

    &__subtitle {
      position: relative;
      display: inline-block;
      font-family: 'Permanent Marker', cursive;

      border-bottom: solid $color-accent 4px;
      border-bottom-style: double;

      transform: translate3d(0, 0, 0);

      &:hover {
        border-bottom-style: solid;
      }
    }
  }

  &__timer {
    text-align: center;
    font-family: 'Permanent Marker', cursive;

    .badge {
      transform: rotate(-2deg);
    }
  }
}

.badge {
  display: inline-block;
  background-color: $color-accent;
  color: $color-black;
  padding: 0 0.3em;
  transform: rotate(5deg);
}

main {
  flex: 1 1 auto;
  display: flex;
  position: relative;
}

.board {
  flex: 1 1 auto;
  border: solid 10px $color-black;
  background: url('bg-cork.png');
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 8px 2px rgba(0, 0, 0, 0.5) inset;
}

.modal-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  
  display: flex;
  align-items: center;
  justify-content: center;

  .modal {
    flex: 0 1 auto;
    position: relative;
    margin: 1em;
    padding: 1em;
    box-shadow: 5px 10px 3px 3px rgba(0, 0, 0, 0.2);
    background-color: $color-accent;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    transform: translate3d(0, 0, 0) rotate(3deg);
    h1 {
      margin-top: 0;
    }
    p {
      margin-bottom: 0;
    }

    &-close {
      position: absolute;
      top: 0;
      right: 0;
      width: 1em;
    }
  }
}

.footer {
  p {
    margin: 0 0 0.5em 0;
  }
  color: white;
  text-align: center;
  font-size: 0.6rem;
  font-family: 'Permanent Marker', cursive;
}

.clickable {
  cursor: pointer;
}

pre {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 0.25em;
  text-align: left;

  max-height: 500px;
  overflow: auto;
}
