<template>
  <div id="app">
    <header class="header">
      <h1 class="header__title">
        <div v-if="EVENT.title !== undefined" class="event-title">
          {{EVENT.title}}
        </div>
        <div v-else>
          <span class="neon">Fingers</span> Out ! - {{TODAY.year()}}
        </div>
        <div class="header__title__subtitle clickable animated pulse" v-show="granularity === 'DAY'" @click="shiftGranularity()">
          <span class="badge">{{subtitle.number}}</span> {{subtitle.name}}
        </div>
        <div class="header__title__subtitle" :class="{clickable: granularity !== 'EVENT'}" v-show="granularity !== 'DAY'" @click="shiftGranularity()">
          {{subtitle.name}} <span class="badge">{{subtitle.number}}</span>
        </div>
      </h1>

      <p class="header__timer" v-html="headerTimer"></p>
    </header>
    <main>
      <div class="board">
        <constraint v-if="eventStatus !== 'Before'" v-for="(constraint, index) in tirage" :key="index" :data="constraint"></constraint>
      </div>
      <div class="modal-bg" v-if="showModal">
        <div class="modal">
          <div v-if="eventStatus === 'Before'">
            <h1>Le défi n'a pas commencé...</h1>
            <p>{{EVENT.beforeMessage}}</p>
          </div>
          <div v-if="eventStatus === 'After'">
            <h1>Le défi est terminé...</h1>
            <p>{{EVENT.afterMessage}}</p>
            <div @click="forceModalClose = true" class="modal-close clickable">X</div>
          </div>
          <div v-if="errorMessage !== undefined">
            {{errorMessage}}
          </div>
        </div>
      </div>
    </main>
    <footer class="footer">
      <p>
        V0.1.0 fait avec <span class="color-accent">&#10084;</span> par Kolai et Flafla
      </p>
    </footer>
  </div>
</template>

<script>
import _ from 'lodash'; // https://lodash.com
import moment from 'moment'; // https://momentjs.com/
import 'moment-duration-format'; // https://github.com/jsmreese/moment-duration-format
import YAML from 'yamljs'; // https://github.com/jeremyfa/yaml.js

import Constraint from './components/Constraint';

moment.locale('fr');

export default {
  name: 'App',
  components: {
    constraint: Constraint
  },
  data: function() {
    return {
      GRANULARITIES: ['DAY', 'WEEK', 'MONTH'],
      granularity: 'DAY',
      forceModalClose: false,
      errorMessage: undefined,
      CONSTRAINTS: {
        INSTRUMENTS: {
          title: 'Instrument',
          color: '#cb8ce5',
          values: [
            'Melodica',
            'Trompette',
            'Comédien',
            'Ukulele',
            'Glockenspiel',
            'Piano-jouet',
            'Orchestre',
            'Guitare folk',
            'Congas',
            'Flûte',
            'Violin bass',
            'Kazoo',
            'Pandeiro',
            'Beat Box',
            'Dulcimer',
            'Cavaquinho'
          ]
        },
        AMBIANCES_HUMEURS: {
          title: 'Ambiance/Humeur',
          color: '#fd7067',
          values: [
            'Euphorie/Insouciance',
            'Motivation/Courage',
            'Beauté/Emerveillement',
            'Chagrin/Pessimisme',
            'Montée/Bouillonnement',
            'Détente/Relachement',
            'Nostalgie',
            'Fierté/Satisfaction',
            'Lacher-Prise/Emancipation',
            'Espoir/Optimisme',
            'Bonheur/Exultation'
          ]
        },
        ACCORDS: {
          title: 'Accords',
          color: '#fcded6',
          values: [
            'DOm FAm',
            'LAm SOL FA SOL',
            'Majeur vs Mineur',
            'LAm Mi',
            'DO FA',
            'SIm SOL MIm',
            'LAm FA DO SOL',
            'LAm FA',
            'DO MIm RÉ',
            'LAm LA+ LAm6',
            'Sus 4',
            'LAm REm SOL DO',
            'MIm DO SI',
            'DO FA SOL',
            'SIm SOL MIm LA'
          ]
        },
        ECRITURES: {
          title: 'Ecriture',
          color: '#9fb1d9',
          values: [
            'Alliteration',
            'Repetition',
            'Phrase en espagnol',
            'Refrain instrumental',
            'Inventer un mot',
            'La la la',
            'Passage rappé',
            'Cacher un mot',
            'Deux alexandrins',
            'Duo',
            'Onomatopées',
            'Citer 3 villes',
            'Passage en prose'
          ]
        },
        THEMES: {
          title: 'Thème',
          color: '#e2e298',
          values: [
            'Le Destin',
            `L'amour fou`,
            'La famille',
            'Le voyage',
            'La nature',
            'Une folle nuit',
            'Le langage',
            'La folie',
            `L'amour perdu`,
            'La musique/La danse',
            'Ego-trip (narcissisme)',
            'Une Sirene / Une Sorciere',
            'Le Monde va mal',
            'Un rêve',
            'Enface / Nostalgie'
          ]
        },
        COMPOSITIONS: {
          title: 'Composition',
          color: '#f2ebdb',
          values: [
            'Passage en 6/8',
            'Modulation',
            'Mélanger deux styles musicaux',
            'Bourdon',
            'Mêmes accords couplet-refrain',
            'Changer accords, garder mélodie',
            'Trois parties distinctes',
            'Intro dans une autre tonalité',
            'Composer à la basse',
            'Un solo',
            'Anacrouse',
            'Commencer par la basse'
          ]
        },
        TEMPOS: {
          title: 'Tempo',
          color: '#86aac2',
          values: [
            '100-105',
            '120-125',
            '115-120',
            '125-130',
            '110-115',
            '105-110',
            '90-95',
            '130-135',
            '80-85',
            '85-90',
            '95-100'
          ]
        },
        MOUVEMENTS: {
          title: 'Mouvement',
          color: '#ced5b4',
          values: [
            'Equilibre/Suspension',
            'Ralentissement/Diminution',
            'Saccadé/Fragmenté',
            'Cycle/Rotation',
            'Projection/Parabole',
            'Rebond/Balancement',
            'Accélération/Expansion',
            'Inertie',
            'Fluidité',
            'Chute/Verticalité',
            'Recul/Marche arrière'
          ]
        },
        PERSOS: {
          title: 'Personnage',
          color: '#f0edc4',
          values: [
            'Enfant/Bébé',
            'Mage',
            'Fantôme',
            'Pirate',
            'Animal mythologique',
            'Rebelle',
            'Divinité',
            'Voleur-se'
          ]
        },
        LIEUX: {
          title: 'Lieu',
          color: '#f0edc4',
          values: [
            'Lieu secret',
            `L'espace`,
            'Montagne',
            'Une Forêt',
            'Au travail'
          ]
        },
        ARRANGEMENTS_OU_MIX: {
          title: 'Arrangement - Mix',
          color: '#8d7961',
          values: [
            'Effets de filtres (EQ)',
            'Pas de basse avant le refrain',
            'Voix gauche droite',
            'Chorale',
            'Harmoniques',
            'Pont sans batterie',
            'Sons inversés',
            'Swing',
            'Commencer par un refrain',
            'Prise de son piano',
            'Fade-out',
            'Batterie "Vinyle"',
            'Passage a capella',
            'Passage avec Tempo dédoublé',
            'Batterie Mono',
            'Flanger',
            'Effet téléphone',
            'Echo / Delay'
          ]
        },
        PARRAIN: {
          title: 'Parrain',
          color: '#fcfbf7',
          values: []
        }
      },
      TODAY: moment().utc(),
      now: moment().utc(),
      EVENT: {}
    };
  },
  created: function() {
    const configUrl = _.get(this.$route.query, 'configUrl');

    if (configUrl) {
      fetch('https://cors-anywhere.herokuapp.com/' + configUrl, {
        mode: 'cors'
      })
        .then(response => {
          if (!response.ok) {
            console.log(response.statusText);
            throw Error(response.statusText);
          }
          return response.text();
        })
        .then(yaml => {
          const parsed = YAML.parse(yaml);
          this.CONSTRAINTS = parsed.CONSTRAINTS;
          if (_.get(parsed, 'EVENT')) {
            this.granularity = 'EVENT';
            this.EVENT = {
              title: parsed.EVENT.title,
              startDate: moment(parsed.EVENT.startDate),
              endDate: moment(parsed.EVENT.endDate),
              beforeMessage: parsed.EVENT.beforeMessage,
              afterMessage: parsed.EVENT.afterMessage
            };
          }
        })
        .catch(error => {
          this.errorMessage = 'Error with the configuration : ' + error.message;
        });
    }
  },
  mounted: function() {
    this.$nextTick(() => {
      // code that assumes this.$el is in-document
      window.setInterval(() => {
        this.$data.now = moment().utc();
      }, 1000);
    });
  },
  computed: {
    tirage: function() {
      const MULTIPLIER = 9301;
      const INCREMMENT = 49297;
      const result = {};

      const getn = function(seed, modulo, n) {
        let yn = seed;
        for (let i = 0; i < n; i++) {
          yn = (yn * MULTIPLIER + INCREMMENT) % modulo;
        }
        return yn;
      };

      const getRand = function(max, granularity, seed) {
        const startDate = moment('20180101', 'YYYYMMDD');
        let endDate = moment(this.TODAY);
        switch (granularity) {
          case 'DAY':
            break;
          case 'WEEK':
            endDate = moment(this.TODAY).startOf('isoWeek');
            break;
          case 'MONTH':
            endDate = moment(this.TODAY).startOf('month');
            break;
          case 'EVENT':
            endDate = this.EVENT.startDate;
            break;
          default:
            break;
        }

        const daysDifference = endDate.diff(startDate, 'days');
        return getn(seed, max, daysDifference);
      };

      const computeSeed = function(key, title) {
        let seed = 0;
        for (let i = 0; i < key.length; i++) {
          seed += key.charCodeAt(i);
        }
        for (let i = 0; i < title.length; i++) {
          seed += title.charCodeAt(i);
        }
        seed = Math.round(seed / (key.length + title.length));
        return seed;
      };

      _.forOwn(this.CONSTRAINTS, (constraint, key) => {
        let nb = 0;
        if (constraint.values.length !== 0) {
          let seed = computeSeed(key, constraint.title);
          nb = getRand.call(
            this,
            constraint.values.length,
            this.granularity,
            seed
          );
          result[key] = {
            title: constraint.title,
            color: constraint.color,
            value: constraint.values[nb]
          };
        }
      });

      return result;
    },
    subtitle: function() {
      let result;
      switch (this.granularity) {
        case 'DAY':
          result = {
            name: moment()
              .month(this.TODAY.month())
              .format('MMMM'),
            number: this.TODAY.date()
          };
          break;
        case 'WEEK':
          result = {
            name: 'semaine',
            number: this.TODAY.isoWeek()
          };

          break;
        case 'MONTH':
          result = {
            name: 'mois',
            number: moment()
              .month(this.TODAY.month())
              .format('MMMM')
          };
          break;
        case 'EVENT':
          result = {
            name: this.EVENT.startDate.format('D MMMM HH[h]mm') + ' - ',
            number: this.EVENT.endDate.format('D MMMM HH[h]mm')
          };
          break;
        default:
          break;
      }
      return result;
    },
    timeLeft: function() {
      let endDate;
      let timeLeft;
      switch (this.granularity) {
        case 'DAY':
          endDate = moment(this.now).endOf('day');
          timeLeft = moment
            .duration(endDate.diff(this.now))
            .format('h[h] m[m] s[s]', {
              trim: false
            });
          break;
        case 'WEEK':
          endDate = moment(this.now).endOf('isoWeek');
          timeLeft = moment
            .duration(endDate.diff(this.now))
            .format('d[j] h[h] m[m] s[s]', {
              trim: false
            });
          break;
        case 'MONTH':
          endDate = moment(this.now).endOf('month');
          timeLeft = moment
            .duration(endDate.diff(this.now))
            .format('d[j] h[h] m[m] s[s]', {
              trim: false
            });
          break;
        case 'EVENT':
          endDate = this.EVENT.endDate;
          timeLeft = moment
            .duration(endDate.diff(this.now))
            .format('d[j] h[h] m[m] s[s]', {
              trim: true
            });
          break;
        default:
          break;
      }

      return timeLeft;
    },
    eventStatus: function() {
      if (
        _.get(this.EVENT, 'startDate') &&
        this.now.isBefore(this.EVENT.startDate)
      ) {
        return 'Before';
      } else if (
        _.get(this.EVENT, 'endDate') &&
        this.now.isAfter(this.EVENT.endDate)
      ) {
        return 'After';
      } else {
        return 'Live';
      }
    },
    showModal: function() {
      return (
        (this.eventStatus !== 'Live' && !this.forceModalClose) ||
        this.errorMessage !== undefined
      );
    },
    headerTimer: function() {
      let timerHtml;

      switch (this.eventStatus) {
        case 'Before':
          timerHtml =
            'Le défi commence dans  <span class="badge">' +
            moment
              .duration(this.EVENT.startDate.diff(this.now))
              .format('d[j] h[h] m[m] s[s]', {
                trim: true
              }) +
            '</span> !';
          break;
        case 'After':
          timerHtml =
            'Le défi est terminé depuis <span class="badge">' +
            moment
              .duration(this.now.diff(this.EVENT.endDate))
              .format('d[j] h[h] m[m] s[s]', {
                trim: true
              }) +
            '</span> !';
          break;
        case 'Live':
          timerHtml =
            'Plus que <span class="badge">' +
            this.timeLeft +
            '</span> pour ce défi !';
          break;
        default:
          break;
      }
      return timerHtml;
    }
  },
  methods: {
    setGranularity: function(granularity) {
      this.granularity = granularity;
    },
    shiftGranularity: function() {
      if (this.granularity !== 'EVENT') {
        const nextGranularityIndex =
          (this.GRANULARITIES.indexOf(this.granularity) + 1) %
          this.GRANULARITIES.length;
        this.granularity = this.GRANULARITIES[nextGranularityIndex];
      }
    }
  },
  filters: {
    json: function(value) {
      return JSON.stringify(value, null, 4);
    }
  }
};
</script>

<style src='./assets/main.scss' lang='scss'></style>
